#signuptabbar{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
}

.signuptabSelected{
    background-color: white;
    color : #5681EF;
    display: flex;
    flex-direction: column;
}

.signuptab{
    display: flex;
    flex-direction: column;
}