#bluebutton {
  text-decoration: none;
  color: white;
  font-weight: 800;
  background-color: #5681EF;
  height: 50;
  width: 200;
  border-radius: 10px;
  border-color: transparent;
}

#greenbutton {
  text-decoration: none;
  color: white;
  font-weight: 800;
  background-color: #5FD068;
  height: 50;
  width: 200;
  border-radius: 10px;
  border-color: transparent;
}