#nav{
    background-color: #5FD068 !important;
    text-align: center;
    border: solid 1px balck;
    height: 100px !important;
}

#logo{
    width : 100px;
    height: 100px;
    margin-top: start;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

#logoImg {
    height: 100px;
}

#menu {
    width: 700px;
    color: white;
    margin-left: 55%;
    margin-top: 30px;
    margin-right: 10px;
}

#text {
    margin-right: 20px;
    color: white;
    font-size: 25px;
}