#phnav{
  background-color: #00ADEF !important;
  text-align: center;
  border: solid 1px balck;
  height: 100px;
}

#phlogo{
  width : 100px;
  height: 100px;
  margin-top: start;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#phlogoImg {
  height: 100px;
}

#phmenu {
  width: 700px;
  color: white;
  margin-left: 55%;
  margin-top: 30px;
  margin-right: 10px;
}

#phtext {
  margin-right: 20px;
  color: white;
  font-size: 25px;
}
