#myPerstabbar{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
.myPerstabSelected{
    color : #5FD068 !important;
    background-color: white !important;
    font-weight: bold; 
    display: flex;
    flex-direction: column;
  }
  
.myPerstab{
    display: flex;
    flex-direction: column;
  }